{% extends "base.html"%}

{% block all_teams %}
<div class="team-container">
    <h2 class="teams-list">List of Teams</h2>
    {% for team in teams %}
    <div class="country-wrapper">
        <img src="/static/images/{{team.name}}.jpg" class = "flag-rect"> 
        <a class = "team-link" href="/teams/{{team.id}}">{{team.name}}</a>
        <form class = "team-delete-btn" action="/teams/{{team.id}}/delete" method="post">
            <button class = "delete-btn">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>
    {% endfor %}
</div>
<div class="new-team-wrapper">
    <h4 class="new-team-title">Click on the button below to add a new team to this competition</h4>
    <form action="/teams/new" method="get">
        <input type="submit" name = "submit-button" value= "Add team" class = "submit-button"> 
    </form>
</div>
{% endblock %}