{% extends "base.html"%}

{% block content %} 

<form action="/teams" method="post" class = "new-team-form">

    <div class = "team-name-wrapper">
        <label for="team_name">Country name:</label>
        <input type="text" id="team_name" name="team_name">
    </div>

    <div class = "team-points-wrapper">
        <input type="number" id="team_points" name="team_points" readonly value="0">
    </div>

    <div class = "game_date wrapper">
        <label for="group_id">Pool Stage group:</label>
        <select name="group_id" id="group_id">
            <option value="1">Group 1</option>
            <option value="2">Group 2</option>
        </select>
    </div>
    <div class="submit-button">
        <label for="submit"></label>
        <input type="submit" value= "Add team">
    </div>

</form>

{% endblock %}