{% extends "base.html"%}

{% block team %}
<div class="team-details-container">
    <h1 class="team-name">{{team.name}}</h1>
    <div class="details-wrapper">
        <p>To see or change how {{team.name}} have done in this tournament please click on the links below!</p>
        <div class="team-button-wrapper">
            <a href="/team-games/{{team.id}}"><button>{{team.name}} record</button></a>
            <a href="/teams/{{team.id}}/edit"><button>Edit {{team.name}}</button></a>
        </div>
        
    </div>
    <img src="/static/images/{{team.name}}.jpg" alt="{{team.name}} flag" class="flag-rect">
</div>

{% endblock %}