@use '../base/base' as *;

:root {
    /* Colour Scheme */
    /* Theme*/
    // this is a test comment
    --background-primary: #{$background-primary};
    --background-primary-muted: #{$background-primary-muted};
    --background-secondary: #{$background-secondary};
    --background-secondary-modifier-1: #{map-get($background-secondary-modifier, one)};
    --background-secondary-modifier-2: #{map-get($background-secondary-modifier, two)};
    --background-secondary-modifier-3: #{map-get($background-secondary-modifier, three)};
    --background-secondary-modifier-4: #{map-get($background-secondary-modifier, four)};
    --background-secondary-modifier-5: #{map-get($background-secondary-modifier, five)};
    --background-index-card: #{$background-index-card};
    --league-grey-primary: #{$league-grey-primary};
    --league-grey-modifier: #{$league-grey-modifier};
    --league-hover: #{$league-hover};
    --blank: #{$blank};

    /*Text Colours*/
    --nav-text: #{$nav-text}; 
    --text-primary-headings: #{$text-primary-headings};
    --text-primary: #{$text-primary};
    --text-secondary: #{$text-secondary};
    --nav-text: #{$nav-text};
    --grey-table-heading: #{$grey-table-heading};
    --grey-table-primary-text: #{$grey-table-primary-text};
    
    /*Typography*/
    --text-regular: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
    --text-bold: Raleway, "Nunito Sans", Glober, "Proxima Nova", Montserrat, sans-serif;

    /*Extras */
    --page-width-margin: 90vw;
    --margin-side: 5vw;
}