/*Footer*/

.footer {   
    background-color: var(--background-secondary);
    color: var(--nav-text);
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
}

.footer-text {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 7.5px;
    position: relative;
}