/*//////////////////*/
/*General Layout*/

.app-grid-container {
    height: 100%;
    display: grid;
    grid-template-areas:
                        "header header"
                        "nav nav"
                        "main main"
                        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 10vh auto 10vh;
    
}

/* Header */
.header {
    background-color: var(--background-secondary);
    grid-area: header;
}

/* Content nav */
.content-nav {
    grid-area: nav;
}

/* Main */
.main {
    grid-area: main;
    min-height: 110vh;
}

/* Footer */
.footer {
    grid-area: footer;
}