/* Colour Scheme */
/* Theme*/
/*Typography*/
/*Extras */
:root {
  /* Colour Scheme */
  /* Theme*/
  --background-primary: white;
  --background-primary-muted: #fcfcfc;
  --background-primary-alt: #e3e3e3;
  --background-secondary: #4a209d;
  --background-secondary-modifier-1: rgba(68, 37, 125, 0.95);
  --background-secondary-modifier-2: rgba(68, 37, 125, 0.9);
  --background-secondary-modifier-3: rgba(68, 37, 125, 0.85);
  --background-secondary-modifier-4: rgba(68, 37, 125, 0.8);
  --background-secondary-modifier-5: rgba(68, 37, 125, 0.75);
  --background-tertiary: #9792e3;
  --background-index-card: rgba(26, 67, 143, 0.6);
  --league-grey-primary: #4e4263;
  --league-grey-modifier: #ededf1;
  --league-hover: #423150;
  --blank: black;
  /*Text Colours*/
  --nav-text: #fcfcfc;
  --text-primary-headings: black;
  --text-primary: #424242;
  --text-secondary: #ebe6e6;
  --nav-text: #fcfcfc;
  --grey-table-heading: #0f031a;
  --grey-table-primary-text: #535353;
}

/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v25-latin-700.woff2") format("woff2"), url("../fonts/merriweather-v25-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("../fonts/raleway-v22-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v22-latin-regular.woff") format("woff"), url("../fonts/raleway-v22-latin-regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff"), url("../fonts/raleway-v22-latin-700.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
}

:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, "Nunito Sans", Glober, "Proxima Nova", Montserrat, sans-serif;
}

p, a, ul li, ol, li span, label, input {
  font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif;
}

/*//////////////////*/
/*General Layout*/
.app-grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10vh 10vh auto 10vh;
}

/* Header */
.header {
  background-color: var(--background-secondary);
  grid-area: header;
}

/* Content nav */
.content-nav {
  grid-area: nav;
}

/* Main */
.main {
  grid-area: main;
  min-height: 110vh;
}

/* Footer */
.footer {
  grid-area: footer;
}

/* Header Section*/
/* Header Logo */
.logo {
  height: 8.75vh;
  width: auto;
  margin: 0.5em auto 0 1.5em;
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
}

/* Header Navigation */
.header nav {
  position: relative;
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  margin-right: 1.5em;
}

.header-list-item {
  padding-right: 1.5em;
  list-style: none;
}

.header-list-item a {
  color: var(--nav-text);
  text-decoration: none;
  cursor: pointer;
  text-transform: lowercase;
  font-variant: small-caps;
  font-family: var(Raleway, "Nunito Sans", Glober, "Proxima Nova", Montserrat, sans-serif);
  padding-bottom: 0.175em;
}

/*Focus link style for pressing tab and accessibility issues*/
.header-list-item a:hover, .header-list-item a:focus, .content-nav-item a:focus {
  border-bottom: 1px solid var(--nav-text);
}

/* Content Navigation */
.content-nav {
  color: var(--nav-text);
  background-color: var(--background-secondary);
  height: 10vh;
}

.content-nav-wrapper {
  margin: 0 var(5vw);
  height: 100%;
}

.content-nav-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-nav-item {
  list-style: none;
  height: 100%;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-weight: bold;
  /* padding-top: 1.25em; */
}

.content-nav-item a {
  display: block;
  color: var(--nav-text);
  text-decoration: none;
  font-weight: 500;
  /* height: 100%; */
}

.content-nav-item:hover {
  background-color: #3d2170;
}

/*Footer*/
.footer {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  clip-path: polygon(0 0, 100% 45%, 100% 100%, 0 100%);
}

.footer-text {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 7.5px;
  position: relative;
}

/* Home Page */
.home-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*Jumbotron Image */
.jumbotron-img {
  height: 100vh;
  grid-column: 1/-1;
  background: url(../images/Jumbotron.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* filter: invert(92%) sepia(3%) saturate(4606%) hue-rotate(188deg) brightness(87%) contrast(85%); */
}

.jumbotron-filter {
  background: linear-gradient(var(--background-secondary), var(--background-secondary) 10%, var(--background-secondary-modifier-1) 20%, var(--background-secondary-modifier-2) 30%, var(--background-secondary-modifier-3) 40%, var(--background-secondary-modifier-3) 50%, var(--background-secondary-modifier-5) 60%);
  height: 100%;
}

.jumbotron-overlay-text {
  width: min(500px, 27.5vw);
  position: absolute;
  top: 15%;
  left: 37.5vw;
  text-align: center;
  background-color: var(--background-index-card);
  filter: grayscale(60%);
  box-shadow: 5px 3px 3px var(--background-secondary);
  border-radius: 15%;
  color: var(--text-secondary);
}

.jumbotron-overlay-text h1 {
  padding: 0.75em 0;
  font-family: "Merriweather";
}

.jumbotron-overlay-text p {
  font-family: Raleway;
  text-align: justify;
  padding: 0 0.95em;
}

.jumbotron-overlay-text button {
  font-family: Raleway;
  font-weight: bold;
  margin-bottom: 0.75em;
  border-radius: 0.5em;
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.35em;
}

.index-btn {
  left: 100%;
}

/* League table*/
table.league-table {
  width: min(500px, 70%);
  margin: 0 auto;
  box-shadow: 0 2px 5px var(--league-grey-primary);
  border-collapse: collapse;
  overflow: hidden;
}

h3.group-league-heading, thead tr {
  text-transform: uppercase;
  color: var(--grey-table-heading);
  font-size: 0.8rem;
}

h3.group-league-heading {
  margin: 3.5em 0 1.25em 30%;
  font-family: var(Raleway, "Nunito Sans", Glober, "Proxima Nova", Montserrat, sans-serif);
  font-weight: 400;
  font-size: 0.75rem;
}

table {
  position: relative;
}

table * {
  text-align: center;
  font-family: var(Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana", sans-serif);
}

thead {
  box-shadow: 0px 7px 10px var(--league-grey-modifier);
}

thead tr {
  text-transform: uppercase;
  padding: 1.5em 0;
}

thead tr th {
  font-weight: 400;
  font-family: var(Raleway, "Nunito Sans", Glober, "Proxima Nova", Montserrat, sans-serif);
}

thead tr {
  height: 2.5em;
}

tbody tr {
  height: 3.5em;
}

tbody tr, tr a {
  color: var(--grey-table-primary-text);
  text-decoration: none;
  border: none;
  transition-property: border;
  transition-duration: 0.2s;
  font-size: 0.8rem;
}

tr a:hover {
  /* text-decoration: underline; */
  font-weight: 600;
  border-bottom: 1px solid var(--grey-table-primary-text);
}

tbody tr:nth-of-type(2n) {
  background-color: var(--league-grey-modifier);
}

.margin-buffer {
  margin-bottom: 3.5em;
  color: white;
}

.games-title {
  padding: 1em 0;
  text-align: center;
  font-size: 1.4em;
}

.game-container {
  display: grid;
  margin: 1.5em 2.5em;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.game-container .game-grid-item {
  grid-column: auto/span 6;
}

/* Game Card */
.game-card {
  position: relative;
  background-color: var(--background-primary-muted);
  width: 100%;
  text-align: center;
  border-radius: 12.5%;
  border: 1px solid var(--background-primary-alt);
  padding-top: 2em;
}
.game-card .game-card-title-wrapper {
  display: flex;
  justify-content: start;
  width: 100%;
  position: relative;
}
.game-card .game-card-title-wrapper .fixture-title {
  padding-left: 2em;
}
.game-card .game-card-title-wrapper .game-date {
  position: absolute;
  right: 10%;
  top: 20%;
}
.game-card .game-card-flag-wrapper {
  display: flex;
  flex-direction: column;
}
.game-card .game-card-flag-wrapper .team-score-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.game-card .game-card-flag-wrapper .team-score-wrapper .flag-icon {
  margin-left: 10%;
}
.game-card .game-card-flag-wrapper .team-score-wrapper .team-score {
  margin-right: 10%;
}
.game-card .game-result {
  padding-bottom: 1em;
}
.game-card .game-delete-btn {
  position: absolute;
  bottom: 0%;
  right: 10%;
}

.game-card h3 a {
  color: var(--text-primary);
  text-decoration: none;
}

.edit-game-card {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}
.edit-game-card .game-card {
  width: 40vw;
}

.team-games-margin-top {
  margin-top: 5em;
}

.flag-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding-top: -5px;
  overflow: hidden;
}

.flag-rect {
  width: 5vw;
  height: auto;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  text-align: center;
  margin: 5em auto;
}
.team-container .teams-list {
  grid-column: 1/-1;
  text-align: center;
  padding-bottom: 1.25em;
  font-family: Raleway;
}
.team-container .country-wrapper {
  grid-column: auto/span 1;
  display: flex;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid var(--background-primary-alt);
  border-radius: 12.5%;
  width: 70%;
  height: 5vw;
}
.team-container .country-wrapper .team-link {
  color: var(--text-primary);
  text-decoration: none;
  padding: 1.445vh 0 0 1em;
}
.team-container .country-wrapper .team-delete-btn {
  position: absolute;
  top: 70%;
  right: -10%;
}
.team-container .country-wrapper .team-delete-btn .delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.team-container .country-wrapper .team-delete-btn .delete-btn i {
  color: var(--text-primary);
}

.new-team-wrapper {
  width: fit-content;
  max-width: 1000px !important;
  width: 100%;
  margin: 5em auto;
  padding: 0 3.5em;
}
.new-team-wrapper .new-team-title {
  font-weight: 600;
  font-family: "raleway";
  color: var(--text-primary);
}
.new-team-wrapper .submit-button {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  border-radius: 12.5%;
  cursor: pointer;
  margin-top: 0.75em;
  padding: 0.5em;
  font-variant: small-caps;
  text-transform: lowercase;
}

.team-details-container {
  position: relative;
  width: 40%;
  margin: 5.5em auto;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}
.team-details-container .team-name {
  text-align: center;
  width: fit-content !important;
  align-self: center;
  padding-bottom: 0.5em;
}
.team-details-container .details-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.75em;
}
.team-details-container .details-wrapper p {
  padding-bottom: 0.75em;
  margin-left: 10%;
  margin-left: 10%;
}
.team-details-container .details-wrapper .team-button-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 10%;
}
.team-details-container .details-wrapper .team-button-wrapper button {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  border-radius: 12.5%;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.25em;
  margin-bottom: 0.75em;
}
.team-details-container .flag-rect {
  position: absolute;
  top: 5%;
  left: 10%;
}

.form-container {
  position: relative;
  width: 100%;
  height: 105%;
}
.form-container .form-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/cricket-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(60%) contrast(120%) sepia(80%);
  z-index: -100;
}
.form-container .form-overlay-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -50;
}

.new-game-form-container {
  position: relative;
  width: 100%;
}
.new-game-form-container .new-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 27.5%;
  left: 40%;
  width: fit-content;
  background-color: var(--background-primary);
  border-top: 5px solid var(--background-secondary);
}
.new-game-form-container .new-form * {
  font-size: 1.1255em;
}
.new-game-form-container .new-form .new-form-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5em 0 0.75em;
  text-transform: capitalize;
}
.new-game-form-container .new-form div:not(div:last-child) {
  margin: 0 1.5em;
  border-bottom: 2px solid var(--background-secondary);
  line-height: 1.5em;
  padding-top: 1.1em;
}
.new-game-form-container .new-form .team_1_wrapper,
.new-game-form-container .new-form .team_2_wrapper,
.new-game-form-container .new-form .team-1_runs-wrapper,
.new-game-form-container .new-form .team_2_runs_wrapper,
.new-game-form-container .new-form .game-date-wrapper {
  position: relative;
}
.new-game-form-container .new-form input,
.new-game-form-container .new-form select {
  border: none;
  background-color: transparent;
  color: var(--text-primary);
  width: 95%;
}
.new-game-form-container .new-form ::placeholder {
  color: var(--text-primary);
  opacity: 1;
}
.new-game-form-container .new-form .submit-button {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  border-radius: 12.5%;
  cursor: pointer;
  width: fit-content;
  padding: 0.5em;
  margin: 1.5em auto;
}
.new-game-form-container .new-form .submit-button input {
  color: var(--nav-text) !important;
  text-align: center;
}

.edit-team-form-container .edit-form {
  padding: 1.5em;
  width: clamp(200px, 25vw, 800px) !important;
}
.edit-team-form-container .edit-form .form-flag-wrapper {
  padding-bottom: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.edit-team-form-container .edit-form .score-wrapper {
  text-align: center;
}
.edit-team-form-container .edit-form .score-wrapper p {
  font-size: 0.85em;
}
.edit-team-form-container .edit-form .score-wrapper .edit-game-note {
  padding: 0.55em 0 1.5em 0;
}
.edit-team-form-container .edit-form .form-title-wrapper,
.edit-team-form-container .edit-form .form-flag-wrapper {
  border: none !important;
}
.edit-team-form-container .edit-form .team-name-wrapper {
  display: none;
}
.edit-team-form-container .edit-form .game-date-wrapper {
  display: flex;
  justify-content: start;
}

.new-team-form-container {
  position: relative;
  width: 100%;
}
.new-team-form-container .new-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 27.5%;
  left: 40%;
  width: fit-content;
  background-color: var(--background-primary);
  border-top: 5px solid var(--background-secondary);
}
.new-team-form-container .new-form * {
  font-size: 1.1255em;
}
.new-team-form-container .new-form .new-form-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5em 0 0.75em;
  text-transform: capitalize;
}
.new-team-form-container .new-form div:not(div:last-child) {
  margin: 0 1.5em;
  border-bottom: 2px solid var(--background-secondary);
  line-height: 1.5em;
  padding-top: 1.1em;
}
.new-team-form-container .new-form input,
.new-team-form-container .new-form select {
  border: none;
  background-color: transparent;
  color: var(--text-primary);
  width: 95%;
}
.new-team-form-container .new-form ::placeholder {
  color: var(--text-primary);
  opacity: 1;
}
.new-team-form-container .new-form .submit-button {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  border-radius: 12.5%;
  cursor: pointer;
  width: fit-content;
  padding: 0.5em;
  margin: 1.5em auto;
}
.new-team-form-container .new-form .submit-button input {
  color: var(--nav-text) !important;
  text-align: center;
}

.edit-team-form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.edit-team-form-container .edit-form {
  display: flex;
  flex-direction: column;
  width: clamp(350px, 20vw, 600px);
  min-height: 40vh;
  background-color: var(--background-primary);
  border-top: 5px solid var(--background-secondary);
}
.edit-team-form-container .edit-form * {
  font-size: 1.1255em;
}
.edit-team-form-container .edit-form .form-title-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.5em;
}
.edit-team-form-container .edit-form .form-title-wrapper .flag-rect {
  height: 30px;
  width: auto;
  align-self: center;
  margin-left: 5%;
}
.edit-team-form-container .edit-form .form-title-wrapper .edit-form-title {
  margin-right: 20%;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5em 0 0.75em;
  text-transform: capitalize;
}
.edit-team-form-container .edit-form div:not(div:first-child, div:last-child) {
  margin: 0 1.5em;
  border-bottom: 2px solid var(--background-secondary);
  line-height: 1.5em;
  padding-top: 1.1em;
}
.edit-team-form-container .edit-form input,
.edit-team-form-container .edit-form select {
  border: none;
  background-color: transparent;
  color: var(--text-primary);
  width: 95%;
}
.edit-team-form-container .edit-form ::placeholder {
  color: var(--text-primary);
  opacity: 1;
}
.edit-team-form-container .edit-form .submit-button {
  background-color: var(--background-secondary);
  color: var(--nav-text);
  border-radius: 12.5%;
  cursor: pointer;
  width: fit-content;
  padding: 0.5em;
  margin: 1.5em auto;
}
.edit-team-form-container .edit-form .submit-button input {
  color: var(--nav-text) !important;
  text-align: center;
}

/* Miscelleneous */
input.invisible:read-only {
  border: 2px solid var(--blank);
  background-color: var(--blank);
  height: 0px;
  width: 0px;
}

/*# sourceMappingURL=style.css.map */
