<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWC Group Stage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app-grid-container">
        <header class="header-container">Header
            <img src="placeholder.png" alt="">
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">Quick links</li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </nav>
        </header>
    
        <aside class="sidebar">Sidebar
        </aside>
        
        <main class="main">Main
            {% block content %}
            {% endblock %}
        </main>
            
        <footer class="footer">Footer

        </footer>
    </div>

    
</body>
</html>