<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CWC Group Stage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="app-grid-container">
        <header class="header">
            <nav>
                <img src="{{ url_for('static', filename='images/cwciInsider.png') }}" alt="logo" class = "logo">
                   
                <ul class="nav-list">
                    <li class="header-list-item"><a href="">Quick Links</a></li>
                    <li class="header-list-item"><a href="">Contact</a></li>
                    <li class="header-list-item"><a href="">Terms and Conditions</a></li>
                    <li class="header-list-item"><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>
        <nav class="content-nav">
            <div class="content-nav-wrapper">
                <ul class="content-nav-list">
                    <li class="content-nav-item"><a href="{{ url_for('teams.teams') }}">Teams</a></li>
                    <li class="content-nav-item"><a href="{{ url_for('games.games') }}">Matches</a></li>
                    <li class="content-nav-item"><a href="{{ url_for('games.new_game') }}">New Match</a></li>
                    <li class="content-nav-item"><a href="{{ url_for('table.show_table') }}">League Table</a></li>
                </ul>
            </div>
        </nav>
        <hr>
    
        
        
        <main class="main">
            {% block content %}
            {% endblock %}
            {% block table %}
            {% endblock %}
            {% block team %}
            {% endblock %}
            {% block all_teams %}
            {% endblock %}
            {% block new_team_form %}
            {% endblock %}
            {% block hello %}
            {% endblock %}
        </main>
            
        <footer class="footer">
            <div class="footer-text">
                <h6>
                    &copy Lorem ipsum dolor sit amet: <em>2021</em>
                </h6>
            </div>
        </footer>
    </div>

    
</body>
</html>