{% extends "base.html" %}

{% block content %}

<div class="home-page">
    <div class="jumbotron-img">
        <div class="jumbotron-filter">
            <div class="jumbotron-overlay-text">
                <h1>CWC Insider</h1>
                <p>Welcome to CWC Insider. Click the button below to see the current standings</p><br>
                <a href="/table"><button class="index-btn">See the Table
                </button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}