@use './base/' as *;
@use './layout/' as *;
@use './pages/' as *;
@use './components/' as *;

/* Main section */
/* Teams *List*/

.team-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}




/* Miscelleneous */

input.invisible:read-only {
  border: 2px solid var(--blank);
  background-color: var(--blank);
  height: 0px;
  width: 0px;
}