{% extends "base.html" %}

{% block table %}


    <h3 class="group-league-heading">Group A:</h3>
    <table class="league-table">
        <thead>
            <tr>
                <th></th>
                <th>Position</th>
                <th>Country name</th>
                <th>Points </th>
            </tr>
        </thead>
                {% for team in teams_1 %}
            <tr>
                <td><img src="/static/images/{{team.name}}.jpg" class = flag-icon></td>
                <td>{{positions[loop.index0]}}</td>
                <td><a href="/teams/{{team.id}}">{{ team.name }}</a></td>
                <td>{{team.points}}</td>
            </tr>
            {% endfor %}
    </table>

    <h3 class="group-league-heading">Group B:</h3>
    <table class="league-table group-2">
        <thead>
            <tr>
                <th></th>
                <th>Position</th>
                <th>Country name</th>
                <th>Points </th>
            </tr>
        </thead>
            {% for team in teams_2 %}
        <tr>
            <td><img src="/static/images/{{team.name}}.jpg" class = flag-icon></td>
            <td>{{positions[loop.index0]}}</td>
            <td> <a href="/teams/{{team.id}}">{{ team.name }}</a></td>
            <td>{{team.points}}</td>
        </tr>
            {% endfor %}
    </table>
    <p class = "margin-buffer">invisible text</p>


{% endblock %}